body {
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.87);
}
.gwl_layout {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}
.gwl_layout #topbar {
  width: 100%;
  height: 40px;
  background-color: #ff6b28;
}
.gwl_layout #topbar div {
  height: 100%;
  float: left;
}
.gwl_layout #topbar div a img {
  height: 30px;
  margin-top: 5px;
}
.gwl_layout #topbar b {
  width: 68%;
  float: left;
  color: white;
  text-align: center;
  margin: 10px;
}
.gwl_layout #topbar #topright {
  float: right;
  color: white;
  margin-top: 8px;
  text-decoration: none;
}
.gwl_layout #topbar #topright img {
  width: 30px;
  height: 30px;
  margin-left: -10px;
  margin-top: -2px;
}
.gwl_layout #middle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.gwl_layout #middle #middletop {
  width: 100%;
  height: 100%;
}
.gwl_layout #middle #middletop ul {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  list-style: none;
  border-bottom: 1px solid lightgrey;
}
.gwl_layout #middle #middletop ul li {
  width: 33.3%;
  color: grey;
  padding: 5px 0px;
  float: left;
  text-align: center;
  margin-top: 5px;
  position: relative;
}
.gwl_layout #middle #middletop ul #dropdown1 #dropdownlist1 {
  width: 300%;
  position: absolute;
  display: none;
  background-color: white;
  z-index: 10;
  top: 114%;
}
.gwl_layout #middle #middletop ul #dropdown1 #dropdownlist1 ul li {
  text-align: left;
  padding-left: 5%;
  width: 100%;
  border-bottom: 1px solid beige;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 {
  position: absolute;
  width: 302%;
  display: none;
  background: gainsboro;
  z-index: 10;
  top: 120%;
  right: -100%;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 ul {
  float: left;
  width: 33.3%;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 ul li {
  border-bottom: 1px solid ghostwhite;
  width: 100%;
  margin: 0;
  padding: 0;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 ul li a {
  background-color: gainsboro;
  color: black;
  border: none;
  padding: 5px 0;
  border-radius: 0px;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 ul li.active {
  border-left: 3px solid #ff6b28;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 ul li.active a {
  color: red;
  background-color: white;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 #tab-body {
  float: left;
  width: 66.6%;
  background-color: white;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 #tab-body ul {
  width: 100%;
}
.gwl_layout #middle #middletop ul #dropdown2 #dropdownlist2 #tab-body ul li {
  width: 100%;
  margin: 0;
  padding: 5px 0;
  padding-left: 10%;
  text-align: left;
}
.gwl_layout #middle #middletop ul .liborder {
  border-left: 1px solid lightgrey;
}
.gwl_layout #middle #chooseyy {
  width: 100%;
  height: 100%;
}
.gwl_layout #middle #chooseyy ul {
  padding-left: 0px;
  width: 100%;
  height: 100%;
}
.gwl_layout #middle #chooseyy ul li {
  position: relative;
  width: 100%;
  list-style: none;
  padding-left: 4%;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.gwl_layout #middle #chooseyy ul li p {
  font-size: 16px;
}
.gwl_layout #middle #chooseyy ul li h6 {
  color: grey;
  width: 100%;
}
.gwl_layout #middle #chooseyy ul li h6 span {
  font-size: 15px;
  float: right;
  margin-right: 5px;
}
.gwl_layout #middle #chooseyy ul li b {
  position: absolute;
  right: 10px;
  top: 20px;
  color: red;
}
