/*最外层盒子*/
.gwl_layout {
  min-width: 300px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}
/*顶部*/
.gwl_dingbu {
  height: 60px;
  width: 100%;
  background-color: #ff641e;
}
.gwl_dingbu .gwl_bt {
  float: left;
  position: absolute;
  top: -9px;
  left: -10px;
}
.gwl_dingbu .gwl_weizhi {
  float: left;
  position: absolute;
  top: 11px;
  left: 140px;
}
.gwl_dingbu .gwl_weizhi a {
  font-size: 22px;
  color: white;
  text-decoration: none;
}
.gwl_dingbu .gwl_weizhi img {
  position: absolute;
  top: -8px;
  left: 34px;
}
.gwl_dingbu .gwl_caidan {
  float: right;
  position: absolute;
  top: 4px;
  right: 10px;
}
.gwl_dingbu .gwl_caidan .dropdown_content {
  height: 80px;
  width: 100px;
  background-color: #ff641e;
  display: none;
  position: absolute;
  top: 55px;
  right: -10px;
  text-align: center;
  list-style-type: none;
}
.gwl_dingbu .gwl_caidan .dropdown_content a {
  text-decoration: none;
  color: white;
}
.gwl_dingbu .gwl_caidan .dropdown_content img {
  height: 16px;
  width: 16px;
}
.gwl_dingbu .gwl_caidan .dropdown_content li {
  margin: 10px;
}
.gwl_dyyy {
  height: 50px;
  width: 100%;
}
.gwl_dyyy .dianying {
  height: 50px;
  width: 50%;
  float: left;
  background-color: #f0eff7;
  text-align: center;
  border-bottom: 3px solid #ff641e;
  line-height: 50px;
}
.gwl_dyyy .dianying a {
  font-size: 22px;
  text-decoration: none;
  color: #9f9f9f;
}
.gwl_dyyy .yingyuan {
  height: 50px;
  width: 50%;
  float: left;
  background-color: #f0eff7;
  text-align: center;
  border-bottom: 3px solid #b4b4b4;
  line-height: 50px;
}
.gwl_dyyy .yingyuan a {
  font-size: 22px;
  text-decoration: none;
  color: #9f9f9f;
}
.zzsp p {
  font-size: 18px;
  color: #bbbbbb;
  margin-left: 15px;
  margin-top: 15px;
}
.dyll {
  margin: 15px;
  height: 170px;
<<<<<<< HEAD
=======
  width: 100%;
>>>>>>> ce6f0c8e1b223cd86bf29c3232867b7f3fea1cc9
  border-bottom: 1px solid #eeeeee;
}
.dyll .dytp {
  float: left;
}
.dyll .dygl {
  margin-left: 5px;
  float: left;
  width: 64%;
}
.dyll .dygl .bt {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
<<<<<<< HEAD
.dyll .dygl .pf {
  margin-left: 30%;
=======
.dyll .dygl .bt a {
  text-decoration: none;
}
.dyll .dygl .pf {
  margin-left: 28%;
>>>>>>> ce6f0c8e1b223cd86bf29c3232867b7f3fea1cc9
  font-size: 20px;
}
.dyll .dygl .jj {
  line-height: 90px;
  font-weight: bold;
  color: #abb7b8;
  font-size: 15px;
}
.dyll .dygl .rs {
  font-weight: bold;
}
.dyll .dygl .rs span {
  color: #ff641e;
}
